<div class="profile-page-container">
        <div id="profile-img-container">
            {{!-- <img src="http://blogs.cuit.columbia.edu/asj2122/files/2013/07/profile.jpg" id="profile-img">        --}}
        </div>
        <div class="row" id="profile-page-header">
        </div>
        <nav class="row" id="profile-nav">
            <img src="{{profileImage}}" alt="">
                <a href="" id="profile-logo"></a>
            <span id="username-display">{{displayName}}</span>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html" class="nav-links">General Chat</a></li>
                <li><a href="collapsible.html" class="nav-links"></a></li>
            </ul>
        </nav>
        <div class="row" id="profile-page-content">
            <div>{{aboutuser}}</div>
             <form id="edit" name="edit" method="post" action="dashboard/edit">
        <label for="about">About</label>
        <input class="text" name="about" type="text" />
        <label for="interests">interests</label>
        <input name="interests" type="text" />
        <input class="btn" type="submit" value=edit />
    </form>
    <div class="row">
  <div class="col-lg-6">
<h2>POSTS!!</h2>
<div id="feedResults"></div>
<script id="feed-template" type="text/x-handlebars-template">
    <div>
        {{#each .}}
            <div class="card-panel" id="post">
                <div class="card-content">
                    <span id="post-body">{{feeder}}</span>
                        
                    <p>{{message}} </p>
                        
                </div>
            </div>
        {{/each}}
        
            <p>WTF</p>
        
    </div>
</script>


  </div>
        </div>

        
    </div>




